:root {
    display: flex;
    justify-content: center;
}

body {
    width: 800px;
}

.results {
    margin: 5px;
	display:none;
}


.hidden {
    display: none;
}

h2 {
    text-align: center;
}

.spinner-grow {
    margin-left: 10px;
    }

.start-check {
	align-items: center;
	align-content: center;
	display: flex;
	margin-top: 10px;
}

.accordion-div {
    display: flex;
    justify-content: space-between;
}