{% extends 'main-page.html' %}

{% block content %}
    <h1>Информация</h1>
    <p>
        Это графический интерфейс утилиты blockcheck. Для запуска проверки блокировок используйте кнопку на главной странице и дождитесь результатов
    </p>
    <p>
        <strong>Основной проект:</strong> <a href="https://github.com/ValdikSS/blockcheck" > GitHub проекта </a>
        <br>
        <strong>Модификация:</strong> <a href="https://github.com/SharagaFun/blockcheck" > GitHub проекта </a>
        <br>
        Для подробных логов используйте консольную версию приложение с флагом --debug

    </p>
{% endblock %}