{% extends 'main-page.html' %}

{% block content %}
  <div>
      <button type="button"
              class="start-check btn btn-primary btn-lg"
              href="start"
      >
        Проверь своего провайдера
        <div class="spinner-grow hidden" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </button>
  </div>
    <div class="results">
        <h2>Результаты</h2>
    </div>
    <p class="results">Для получения корректных результатов используйте DNS-сервер провайдера и отключите средства обхода блокировок.</p>

  <div class="accordion hidden" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          DNS
          <div class="spinner-grow dns-loading" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body dns">
          <p class="placeholder-glow dns-loading">
            <span class="placeholder col-7"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-6"></span>
            <span class="placeholder col-8"></span>
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          HTTPS
          <div class="spinner-grow https-loading" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body https">
          <p class="placeholder-glow https-loading">
            <span class="placeholder col-7"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-6"></span>
            <span class="placeholder col-8"></span>
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          HTTP
          <div class="spinner-grow http-loading" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body http">
          <h4 class="subdomain">Поддомен</h4>
          <p class="placeholder-glow http-loading">
            <span class="placeholder col-7"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-6"></span>
            <span class="placeholder col-8"></span>
          </p>
          <h4 class="http-result">Результат проверки HTTP</h4>
          <p class="placeholder-glow http-loading">
            <span class="placeholder col-7"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-6"></span>
            <span class="placeholder col-8"></span>
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          DPI
          <div class="spinner-grow dpi-loading" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </button>
      </h2>
      <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
        <div class="accordion-body dpi">
          <p class="placeholder-glow dpi-loading">
            <span class="placeholder col-7"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-6"></span>
            <span class="placeholder col-8"></span>
          </p>
        </div>
      </div>
    </div>
  </div>

    <script>

        $(".start-check")
            .click(async function () {
              $(".results").show(1000);

              $(".accordion").toggleClass("hidden");
              $(".spinner-grow").removeClass("hidden");


              $.get("start", function (data, status) {

              });

              $.get("get-ip", function (data, status) {
                const obj = JSON.parse(data);
                var new_div = $(obj.msg);
                $(".results").append(new_div);
              });

              await $.get("dns", function (data, status) {
                const obj = JSON.parse(data);
                $(".dns-loading").addClass("hidden");
                $(".dns").append(obj.msg);
              });

              $.get("https", function (data, status) {
                const obj = JSON.parse(data);
                $(".https-loading").addClass("hidden");
                $(".https").append(obj.msg);
              });

              await $.get("http", function (data, status) {
                const obj = JSON.parse(data);
                $(".http-loading").addClass("hidden");
                $(".subdomain").after(obj.subdomain);
                $(".http-result").after(obj.http);
              });

              await $.get("dpi", function (data, status) {
                const obj = JSON.parse(data);
                $(".dpi-loading").addClass("hidden");
                $(".dpi").append(obj.msg);
              });


              $(".spinner-grow").addClass("hidden");
            });

        async function dns() {

        }
    </script>


{% endblock %}

